:root {
  --main-color: #253334;
  --accent-color: #7c9a92;
  --white-color: #ffffff;
  --text-color: rgba(255, 255, 255, 0.7);
  --main-font: "Alegreya Sans", sans-serif;
  --title-font: "Alegreya", serif;
}
body {
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
  background: linear-gradient(
    90deg,
    rgb(37, 51, 52),
    rgb(124, 154, 146),
    rgb(37, 51, 52)
  );
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
